<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liugh.mapper.NoteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liugh.entity.Note">
        <id column="note_id" property="noteId" />
        <result column="note" property="note" />
        <result column="update_time" property="updateTime" />
        <result column="book_id" property="bookId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        note_id AS noteId, note, update_time AS updateTime, book_id AS bookId
    </sql>

</mapper>
