<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liugh.mapper.RecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liugh.entity.Record">
        <id column="record_id" property="recordId" />
        <result column="book_id" property="bookId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="start_page" property="startPage" />
        <result column="end_page" property="endPage" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        book_id AS bookId, record_id AS recordId, start_time AS startTime, end_time AS endTime, start_page AS startPage, end_page AS endPage
    </sql>

</mapper>
